<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    
        <h1>読書感想文・論文を書く方</h1>
    <div class="mine">
        <h2>誰に向けて</h2>
            <textarea cols="50" rows="5">読者</textarea>
        <h2>問題提起</h2>
            <textarea cols="60" rows="6">太宰治は、本当に人間失格といえるのだろうか</textarea>
        <h2>結論</h2>
            <textarea cols="60" rows="6">人間失格ではない</textarea>
        <h2>自分の考え（本を読んで思ったこと）</h2>
            <textarea class="write" cols="80" rows="15">
・主人公の人生がうまくいかないことに対してムカついた
・主人公が段々酷い生活になっていくことに、悲しさと哀れみを感じた
・読み終わった後は、複雑な気持ちになった



＜社会問題などに視点を向けて書くと◎＞
・現代社会を生きる私たちは、人を思いやる心を忘れている人が多い
・平和な国とうたうのであれば、国民が幸せだと言える国にしなければならないと思う
            </textarea>
        <h2>考えを裏付ける根拠（自分がその考えに至った体験談など）</h2>
            <textarea cols="80" rows="15">＜社会問題について＞
・虐待やいじめなどが増えている
・自己肯定感が低い人や、精神を病む人が増えた
            </textarea>
        <h2>まとめる</h2>
            <textarea class="long0" cols="80" rows="30">
葉蔵は本当に人間失格だったのだろうか。
主人公の葉蔵は、幼いころから周囲の視線に敏感で、人の「裏表」をみてきた。
その為だろう。葉蔵は幼いころから「表」の「面白おかしい」自分を作り、「道化」を演じ、家族にさえ本心を見せなかった。
                
葉蔵は、常に自分の本心が見破られることに対して、恐怖心を抱いていた。親からの愛情を純粋に受ける暇がない程に、巧妙な「道化」を演じることに必死になっていたのだ。
それはいつの日か、決して直すことのできない「癖」へと変わり、葉蔵さえも「異常な人間」へと変えていった。
                
成人しても、恋人ができても、「道化」を演じ続けるしかなかった葉蔵の生き方。
その結果、愛人を作り、酒に溺れ、薬に溺れながら生きていく事になってしまった葉蔵。
                
葉蔵は、酒と薬に頼ることでしか、束の間の安心感を得ることができない人間となってしまったのだ。
                
そんな葉蔵の人生を見ていると、どうしようもない程の苦しさや、悲しさを感じた。
時には、何故こんなにも滅茶苦茶な人生になったんだ、と苛立ちを覚えた。
                
けれど、この作品を読み終わった時「なんて酷い生き方なんだ」と、簡単に言えなかった。
何故、葉蔵はあんなにも酷い人生を送らなければならなかったのかが気になったのだ。
                
どこまで行っても、「道化」を演じる事をやめれなかった葉蔵の生き方。
それは、彼の周りに原因があったのではないだろうか。
幼い葉蔵に人間の「裏表」を見せた使用人、自分の子供をよく見ていなかった両親、この全てが葉蔵に道化を演じさせたのではないだろうか。
                
そう考えると、葉蔵はこの作品の一番の被害者となる。
葉蔵にとって「道化」を演じるということは、恐ろしい世間から逃れるための手段だったのではないだろうか。
世間から逃げ続ける状況になっても、いつか救ってくれる何かを、必死に探しながら生きていたのではないだろうか。
                
ヨシ子が商人の男に裏切られた際に、葉蔵は「信頼は罪なりや。」と心の中で問う。ヨシ子の無垢な信頼に期待をしていた葉蔵は、少なからずいたはずだ。
では、その期待を踏みにじり嘘をついては、平気でひとを傷つける周りの人間の方が、醜い人間と言えるのではないか。
                
葉蔵は二度自殺した。
一度目は、世間という名の得体のしれない恐怖から、逃れるためだったのかもしれない。
二度目は、希望も絶望も無くなり、生きる意味がわからなくなったのかもしれない。
                
けれど私は何故、こんなにも命を投げ出そうとするのかわからなかった。
                
葉蔵は「無抵抗は罪なりや。」と心の中で問う。
これは、葉蔵が友人である堀木に裏切られ脳病院に入れられた際のことばである。
この「無抵抗」という言葉の意味は何だろうか。
それは死ぬことに「無抵抗」になる事だったのかもしれない。それこそが葉蔵にとっての、世間に対する最大の「反抗」であり、生きることに疲弊してしまった結果ではないだろうか。
                
                
あとがきに、スタンド・バアのマダムが、葉蔵のことを
「神様みたいにいい子でした。」と表現していた。
                
マダムの言う通り葉蔵は、優しかったのだろう。そして誰よりもまじめだったからこそ、欺きあいながらも「清く明るく朗らかに生きていける」と、信じている世間が理解しがたかったのだろう。
                
怖いながらも、「人類に対する最後の求愛」として「道化」を演じながら、必死に人に歩み寄ろうとした葉蔵の事を、誰が「人間失格」といえるだろうか。
              
人間とは本来、支えあいながら生きていくものである。
相手の気持ちを受け入れて行く中で、自分の考えを表に出せない時もあるだろう。かと言って、自分だけ我慢すればいいという訳ではない。自分の意志を持ち、伝えるということが大切だと思う。
                
ところが、現代社会を見てみると、いじめや虐待は増えている。そうでなくとも、夢や個性を失くしつつある学生が増えてきている。
平和な国だと主張しながらも、国民は幸せだと感じている人が少ない。国民の幸せも含めて、平和な国にするべきではないのか。
機械の発達はしているが、私たちはそれほど成長を遂げていなように見える。
そんな私たちを見て、太宰は「結局、何も変わりはしないのだ」と嗤うかもしれない。
                
そして最後に彼は「ただ、いっさいは過ぎてゆきます。」というのだろう。
それこそが、信じて裏切られ、それでも現実と向き合った彼が、唯一信用できた救いなのだと思う。
            </textarea>
    </div>
    <div class="user">
        <h2 class="user">誰に向けて</h2>
        <textarea cols="50" rows="5"></textarea>
        <h2 class="user">問題提起</h2>
            <textarea cols="60" rows="6"></textarea>
        <h2 class="user">結論</h2>
            <textarea cols="60" rows="6"></textarea>
        <h2 class="user">自分の考え</h2>
            <textarea cols="80" rows="15"></textarea>
        <h2 class="user">考えを裏付ける根拠</h2>
            <textarea cols="80" rows="15"></textarea>
        <h2 class="user">まとめる</h2>
            <textarea cols="80" rows="30"></textarea>
    </div>
        
    
</body>
</html>