<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/message.css">
    <title>Document</title>
</head>

<body>
    <h1>メッセージを伝えたい方</h1>
    <div class="write">
        <h2>誰に向けのメッセージ？</h2>
        <textarea cols="50" rows="5">お父さんに伝える</textarea>
        <h2>伝えたいこと（簡単に）</h2>
        <textarea cols="60" rows="5">日頃の感謝とお誕生日を祝う</textarea>
        <h2>詳細（出来事、感じたことなど）</h2>
        <textarea cols="80" rows="15">
・夜遅くまで仕事をしたり、習い事の送り迎えをしてくれる
・外に遊びに連れて行ってくれる
・外食に連れて行ってくれる
            </textarea>
        <h2>まとめる</h2>
        <textarea cols="80" rows="30">
                お父さんへ
お父さんお誕生日おめでとう！
夜遅くまで仕事を頑張って私たちを支えてくれてありがとう
いつもいろんなとこへ連れて行ってありがとう
素敵な一年になりますように♪
これからもよろしくお願いします！

            </textarea>
    </div>
    <div class="user">
        <h2>誰に向けのメッセージ？</h2>
        <textarea cols="50" rows="5"></textarea>
        <h2>伝えたいこと（簡単に）</h2>
        <textarea cols="60" rows="5"></textarea>
        <h2>詳細（出来事、感じたことなど）</h2>
        <textarea cols="80" rows="15"></textarea>
        <h2>まとめる</h2>
        <textarea cols="80" rows="30"></textarea>

    </div>
</body>

</html>